/*ÁREA CABEÇALHO*/
body {
    margin: 0;
    font-family: "lato", sans-serif;
}

.main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 411px;     
}

.cabecalho-geral {
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    max-width: 1112px;
    width: 100%;
}

.logo {
    margin: 22px;
    width: 40px;
    height: 40px;
}

.titulo {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20px;
    margin: 22px;
}

.links {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #333;
    height: 100%;
    width: 85%;
}

.menu:hover .links {
    display: flex;
}

.links a {
    padding: 0 20px;
    height: 32px;
    width: calc(100% - 40px);
    display: flex;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.links a:hover {
    background-color: #c4c4c4;
    color: #333;
}

.links a.menu-fechar {
    width: calc(100% - 40px);
    padding-top: 20px;
    text-align: left;
}

.span {
    display: none;
}

/*ÁREA DO FORMULÁRIO NOVA TRANSAÇÃO*/

.form {
    font-size: 14px;
    line-height: 22px;
    display: block;
    margin: 25px;
    margin-left: 20px;
    padding: 0 10px;
    width: 400px;
}

.titulo-form {
    display: none;
}

.caixa, .caixa-mercadoria {
    width: 371px;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
}

.button {
    width: 371px;
    height: 32px;
    background-color: #333;
    color: #fff;
    border-radius: 4px
}

/*ÁREA DA TABELA EXTRATO DE TRANSAÇÕES*/


.tabela-wrapper {
    display: flex;
    justify-content:center;
}

.tabela {
    width: 100%;
}

.tabela th {
    text-align: left;
}

.tabela tbody td, .tabela th {
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
}

.tabela tfoot td {
    position: relative;
    padding-top: 5px;
    font-weight: bold;
}

.tabela tfoot td::before {
    position:absolute;
    width: 100%;
    content: '';
    top: 3px;
    font-weight: bold;
    border-top: 1px solid #e0e0e0;
}

.lucro {
    font-weight: normal;
    font-size: 10px;
    display: flex;
    flex-direction:row-reverse;
}

/*ÁREA MEDIA - RESPONSIVIDADE*/

@media screen and (min-width: 700px) {  /*TABLET PORTRAIT*/

    /*BODY*/

    .main {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 780px;
    }

    /*ÁREA DO FORMULÁRIO NOVA TRANSAÇÃO*/

    .form {       
        display: flex;
        flex-direction: column;
        width: 728px;
        border: 1px solid #979797;
        border-radius: 4px;
        padding: 10px;
        align-items: flex-end;
    }

    .titulo-form {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .campos {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .caixa {
        display: flex;
        width: 150px;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 4px;      
    }

    .caixa-mercadoria {
        display: flex;
        width: 348px;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 4px;
    }

    .button {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    /*ÁREA DA TABELA EXTRATO DE TRANSAÇÕES*/

    .tabela {
        width: 728px;
    }

    .lucro {
        font-weight: normal;
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 1112px) /*TABLET LANDSCAPE*/ {

    /*ÁREA DO FORMULÁRIO*/

    main {
        width: 1000px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .form {
        border: 1px solid #979797;        
        display: block;
        width: 378px;
        height: 378px;
        float: left;
    }

    .campos {
        display: block;
    }
    
    .caixa, .caixa-mercadoria {
        width: 370px;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 4px;
    }
    
    .button {
        width: 370px;
        height: 32px;
        background-color: #333;
        color: #fff;
        border-radius: 4px
    }

    /*ÁREA DA TABELA*/

    .tabela {
        width: 652px;
    }

}

@media screen and (min-width: 1112px) {/*DESKTOP*/

    .main {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 1112px;
    }

    /*ÁREA DO CABECALHO*/

    .cabecalho {
        width: 100%;
        height: 80px;
    }

    .titulo {
        text-align: left;
    }

    .menu .menu-barra {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        width: 350px;
        top: 10px;  
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: #fff;
    }

    .links a {
        color: #333;
        width: initial;
        height: initial;
    }

    .links a.menu-fechar {
        display: none;
    }

    /*ÁREA DO FORMULÁRIO NOVA TRANSAÇÃO*/

    .tabela {
        width: 652px;
    }

    .lucro {
        font-weight: normal;
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }

}