@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*ÁREA CABEÇALHO*/

.cabecalho-geral {
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    max-width: 1112px;
    width: 100%;
}

.logo {
    margin: 22px;
    width: 40px;
    height: 40px;
}

.titulo {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20px;
    margin: 22px;
}

.links {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #333;
    height: 100%;
    width: 85%;
    z-index: 2;
}

.menu:hover .links {
    display: flex;
}

.links a {
    padding: 0 20px;
    height: 32px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.links a:hover {
    background-color: #c4c4c4;
    color: #333;
}

.links a.menu-fechar {
    width: calc(100% - 40px);
    padding-top: 20px;
    text-align: left;
    justify-content: flex-start;
}

.span {
    display: none;
}

/*ÁREA DO FORMULÁRIO NOVA TRANSAÇÃO*/

.main {
    margin: 20px;
    max-width: 1112px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.form {
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    width: 90%;
}

.titulo-form {
    display: none;
}

.caixa, .caixa-mercadoria  {
    width: 90%;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-bottom: 10px;
}

.botao {
    width: 90%;
    height: 32px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*ÁREA DA TABELA EXTRATO DE TRANSAÇÕES*/


.tabela-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.tabela-titulo {
    width: 90%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-top: 1px solid #979797;
    padding-top: 30px;
}

.tabela {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    width: 90%;
}

.tabela th {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.tabela tbody td, .tabela th {
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
}

.tabela tfoot td {
    position: relative;
    padding-top: 5px;
    font-weight: bold;
}

.tabela tfoot td::before {
    position:absolute;
    width: 100%;
    content: '';
    top: 3px;
    font-weight: bold;
    border-top: 1px solid #e0e0e0;
}

.lucro {
    font-weight: normal;
    font-size: 10px;
    display: flex;
    flex-direction:row-reverse;
}

/*ÁREA MEDIA - RESPONSIVIDADE*/

@media screen and (min-width: 700px) {  /*TABLET PORTRAIT*/

    main {
        display: flex
    }

    /*ÁREA DO CABEÇALHO*/

    .links {
        width: 33%;
    }

    /*ÁREA DO FORMULÁRIO NOVA TRANSAÇÃO*/

    .form {
        display: flex;
        flex-direction: column;
        width: 90%;
        border: 1px solid #979797;
        border-radius: 4px;
        padding: 10px;
    }

    .titulo-form {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .campos {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .caixa {
        display: flex;
        width: 150px;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 4px;      
    }

    .caixa-mercadoria {
        display: flex;
        width: 348px;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 4px;
    }

    .botao {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;       
    }

    .botao-posicao {
        display: flex;
        justify-content: flex-end;
    }

    /*ÁREA DA TABELA EXTRATO DE TRANSAÇÕES*/

    .tabela-wrapper {
        padding: 10px;
        align-items: center;
    }

    .tabela-titulo {
        font-size: 18px;
        font-weight: 700;
        border: none;
    }

    .tabela {
        width: 100%;
    }

    .lucro {
        font-weight: normal;
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 1112px) /*TABLET LANDSCAPE*/ {

    .links {
       margin-left: 20px;
    }

    .links a:hover {
        background-color: white;
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        margin: 22px;
    }

    .main {
        gap: 25px;
        margin: 20px;
        width: 95%;
        display: flex;
        flex-direction: row;    
     }

    /*ÁREA DO FORMULÁRIO*/
    
    .titulo-form {
        padding-top: 20px;
    }

    .form {
        border: 1px solid #979797;        
        display: block;
        width: 378px;
        height: 300px;
        float: left;
    }

    .campos {
        display: flex;
        flex-direction: column;
    }
    
    .caixa, .caixa-mercadoria {
        width: 370px;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 4px;
    }
    
    .botao {
        width: 370px;
        height: 32px;
        background-color: #333;
        color: #fff;
        border-radius: 4px;
    }

    /*ÁREA DA TABELA*/

    .tabela {
        width: 100%;
    }

}

@media screen and (min-width: 1112px) {/*DESKTOP*/

    /*ÁREA DO CABEÇALHO*/

    .cabecalho-geral {
        max-width: 1500px;
    }

    .cabecalho {
        width: 100%;
        height: 80px;
    }

    .titulo {
        text-align: left;
    }

    .menu .menu-barra {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        width: 350px;
        margin-top: 20px;
        margin-right: 140px;  
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: #fff;
    }

    .links a {
        color: #333;
        width: initial;
        height: initial;
    }

    .links a.menu-fechar {
        display: none;
    }

    .main {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        
    }

    /*ÁREA DO FORMULÁRIO NOVA TRANSAÇÃO*/

    .titulo-form {
        margin-bottom: 20px;
        padding-top: 20px;        
    }

    /*ÁREA DA TABELA EXTRATO DE TRANSAÇÕES*/

    .tabela-wrapper {
        height: 320px;
        width: 652px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .lucro {
        font-weight: normal;
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }

}